@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

$col-primary: #0066FF;
$col-warning: #E7C928;
$col-danger: #FF2727;

$col-white: #FFFFFF;
$col-50: #F8F8F8;
$col-100: #EDEDED;
$col-200: #B8B8B8;
$col-300: #8C8C8C;
$col-400: #5C5C5C;
$col-500: #404040;
$col-600: #2D2D2D;
$col-700: #252525;
$col-800: #202020;
$col-900: #1D1D1D;
$col-black: #000000;

$bg-mod-white: #FFFFFF22;
$bg-mod-black: #00000022;

$shadow-low: #00000044 0 2px 5px;
$shadow-medium: #00000044 0 5px 10px;
$shadow-high: #00000044 0 10px 20px;

$type: 'Poppins', sans-serif;
$type-brand: 'Galada', cursive;