$col-primary: #0066FF;
$col-selection: #25A4FF;
$col-warning: #F8B60C;
$col-danger: #FF3737;

$col-white: #FFFFFF;
$col-50: #F8F8F8;
$col-100: #EDEDED;
$col-200: #B8B8B8;
$col-300: #8C8C8C;
$col-400: #5C5C5C;
$col-500: #404040;
$col-600: #2D2D2D;
$col-700: #252525;
$col-800: #202020;
$col-900: #151515;
$col-black: #000000;

$bg-mod-white: #FFFFFF22;
$bg-mod-black: #00000022;

$shadow-low: #00000044 0 2px 5px;
$shadow-medium: #00000044 0 5px 10px;
$shadow-high: #00000044 0 10px 20px;

$type: 'Poppins', sans-serif;
$type-brand: 'Galada', cursive;
$type-doc: 'Roboto', sans-serif;
$type-serif: 'PT Serif', serif;