@use './index' as r;

// Poppins - Default App Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Roboto - Default Document Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

// Galada - Brand Font
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

// PT Serif - serif
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

// Bootstrap Icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

:root {
  font-family: r.$type;
  font-size: 16px;
  user-select: none;
  overflow: hidden;
}

body {
  @include r.light {
    background: r.$col-white;
    color: r.$col-800;
  }
  @include r.dark {
    background: r.$col-700;
    color: r.$col-white;
  }
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus-visible {
  outline: r.$col-primary solid 1px;
  outline-offset: -1px;
}

::selection {
  @include r.textSelection;
}

.fade {
  &-enter-active, &-leave-active {
    transition: opacity .15s;
  }
  &-enter-from, &-leave-to {
    opacity: 0;
  }
}
